.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-items: center;
}
.container > div {
    padding: 15px 25px;
    background-color: rgb(159, 158, 158);
    width: 300px;
}
